.filter-wrapper{
    margin:2%;
    width:100%;
}
.button{
    float:none;
    margin-left:2%;
}
.card{
    width:95%;
    background-color:cadetblue;
    color:black;
    padding:1%;
    padding-left:1.5%;
    margin:1%;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}
img{
    max-width: 4%;
    height: auto;
    float:left;
    margin-right:1%;
}
h2,h3{
    margin:.5%
}
p{
    margin-left:1%;
}